body {
	background-color: #efeee7;
	font-family: "Georgia",Times New Roman,Times,serif;
	color: #333333;
	margin: 0;
    padding: 0;
    /*added, this the line height in a percentange of the current font size*/
    line-height: 150%;
	}

header {
	background-color: #333333;
	

}

h1 {
	color: #eee;
	font-size: 28px;
	/*added px*/
	margin: 15px;
    padding: 20px;
    /*added*/
	text-align: center;
}

h2 {
	font-size: 24px;
}

.container {
	width: 1024px;
	margin: 0 auto;
}

#main-bio {
	float: left;
	width: 70%;
	/*removed*/
	/*margin: 15px;*/
}
#contact-info {
	float: left;
	/*added*/
	width: 30%;
}
#bio-image {
	float: left;
	width: 200px;
	/*added*/
	margin-right: 20px;
}
#content-info {
	width: 30%;
	line-height: 1.5;
}
a {
	color: #d21034
}
